* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #141414;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #333;
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 100%;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.links-profile {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  min-width: 16rem;
  width: 90%;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  border-radius: 0.75rem;
}

.user-img img {
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.user-name {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3125rem;
}

.user-location {
  color: #c4f82a;
  margin-bottom: 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;
}

.user-desc {
  color: white;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  margin-bottom: 0.75rem;
}

a:hover {
  color: black;
  background-color: #c4f82a;
}

.links-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
